@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --secondary-100: #6d7478;
    --secondary-300: #4c5967;
    --secondary-400: #3d525c;
    --secondary-500: #304550;
}

body {
    font-family: var(--font-inter);
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-rubik);
    line-height: 1.3;
    color: var(--secondary-400);
}

h1 {
    font-size: 45px;
    font-weight: 700;
}
h2 {
    font-size: 36px;
    font-weight: 700;
}
h3 {
    font-size: 30px;
    font-weight: 600;
}
h4 {
    font-size: 24px;
    font-weight: 600;
}
h5 {
    font-size: 20px;
    font-weight: 500;
}
h6 {
    font-size: 18px;
    color: var(--secondary-400);
    font-weight: 400;
}

.stickyHeader.sticky {
    padding: 20px 36px;
    background: white;
    box-shadow: 0 4px 4px 0 rgb(203, 200, 200);
}
